# Environment variables
.env

# Python virtual environment
myenv/
venv/
.venv/

# Python cache files
__pycache__/
*.pyc
backend/src/__pycache__/
backend/src/**/__pycache__/

# IDE specific files (optional but good practice)
.vscode/
.idea/

# Log files
*.log

# Streamlit secrets
/secrets.toml
secrets.toml

# Evaluation results
node_modules/
node_modules/

EXPERTS.MD
TO-DO.md
